html{
background-color: black;
}
#tekst{
    width: 800px;
    height: 800px;
    background-color: aquamarine;
    margin-right: auto;
    margin-left: auto;
}
#tekst .schaakbord{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	background-color: #787171;
}

#tekst .schakelblack{
    margin: 0;
    background-color: black;
    height: 75px;
    width: 75px;
    float: left;
}

#tekst .schakelwhite{
    margin: 0;
    background-color: white;
    height: 75px;
    width: 75px;
    float: left;
    
}
